<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= website.description %>">
    <meta name="author" content="<%= website.author %>">
    <meta name="keywords" content="<%= website.keywords %>">
    <!-- Title -->
    <title>
        <%= website.name %>
    </title>
    <!-- links -->
    <link rel="icon" href="/aronoz/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/aronoz/css/bootstrap.min.css">
    <link rel="stylesheet" href="/aronoz/css/bootstrap-social.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/aronoz/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/aronoz/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/aronoz/css/lightslider.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/aronoz/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/aronoz/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/aronoz/css/flaticon.css">
    <link rel="stylesheet" href="/aronoz/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/aronoz/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/aronoz/css/slick.css">
    <link rel="stylesheet" href="/aronoz/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/aronoz/css/style.css">