







<!-- jquery plugins here-->
<script src="/aronoz/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/aronoz/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/aronoz/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/aronoz/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/aronoz/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/aronoz/js/masonry.pkgd.js"></script>
<script src="/aronoz/js/lightslider.min.js"></script>
<!-- particles js -->
<script src="/aronoz/js/owl.carousel.min.js"></script>
<script src="/aronoz/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/aronoz/js/swiper.jquery.js"></script>
<script src="/aronoz/js/slick.min.js"></script>
<script src="/aronoz/js/jquery.counterup.min.js"></script>
<script src="/aronoz/js/waypoints.min.js"></script>
<script src="/aronoz/js/contact.js"></script>
<script src="/aronoz/js/jquery.ajaxchimp.min.js"></script>
<script src="/aronoz/js/jquery.form.js"></script>
<script src="/aronoz/js/jquery.validate.min.js"></script>
<script src="/aronoz/js/mail-script.js"></script>
<script src="/aronoz/js/stellar.js"></script>
<!-- custom js -->
<script src="/aronoz/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/aronoz/js/axios.js"></script>
<script src="/aronoz/js/theme.js"></script>
<script src="/aronoz/js/cart_control.js"></script>
</body>

</html>