<section>
    <div id="messageBird">
        <% try{ %>
            <% if(bird.message){ %>
                <div class="alert alert-<%= bird.alert %> alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <%= bird.message %>
                </div>
                <% }else{ %>
                    No Message
                    <%} %>
                        <% }catch(err){ %>
                            Error from try
                            <% } %>
    </div>
</section>