






<!-- container-scroller -->
<!-- plugins:js -->
<script src="/royalUI/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/royalUI/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/royalUI/js/off-canvas.js"></script>
<script src="/royalUI/js/hoverable-collapse.js"></script>
<script src="/royalUI/js/template.js"></script>
<script src="/royalUI/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/royalUI/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>

